/* Nav Part Css Start */
.header-background{
    background-color: #FFFBF0;
    padding-bottom: 100px;
}
.penguine-nav{
    background-color: #FFFBF0;
}
.penguine-nav img{
    width: 100%;
    height: 100%;
    display: block;
}
.penguine-nav .navbar-nav a{
    padding: 0 10px;
    font-weight: 600;
    color: black!important;
}
.penguine-nav-item{
    margin-left: auto;
}
/* Nav Part Css End */
/* Banner part css Start */
.panda-top-banner h1{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: .1px;
    color: #FABE4C;
    font-family: 'Oswald', sans-serif;
}
.panda-top-banner span, h1{
    color: #363958;
    font-family: 'Oswald', sans-serif;
}
.panda-top-banner img{
    width: 70%;
}
/* Banner part css End */
/* Product Part css start */
.penguine-product-card{
    border: none;
    border-radius: 1.5em!important;
    max-height: 33em;
    width: 100%;
}
.product-image{
    margin: .2em;
    padding: 2em 3em;
    height: 20em;
    border-radius: 1em;
    background-color: #F1F1F1;
}
.product-image img{
    display: block;
    height: 100%;
    width: 100%;
}
.penguine-card-title h5{
    color: #363958;
    font-weight: 700;
}
/* Product Part css end */
/* About Part css start */
.penguine-about-part{
    border: none;
    border-radius: 1em!important;
}
.penguine-about-part img{
    width: 50%;
    height: 70%;
    display: block;
}
/* About Part css end */
/* Btn Css stat */
.penguine-button{
    height: 3.43em;
    width: 9.375em;
    color: white;
    background-image: var(--bs-gradient);
    background-color: #A0B940;
    border-radius: .5em;
}
/* Btn Css end */
/* Latest Product Part Css Start */
h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.latest-card{
    border: none;
}
.latest-card h5{
    font-size: 15px;
}
.latest-card i{
    color: goldenrod;
}
.latest-card-image{
    background-color: #F2F3F5;
}
.latest-card-image img{
    width: 100%;
    height: 90%;
}
/* Latest Product Part Css End */
